<ion-view view-title="My Reviews">
  <div ng-class="{noInternet:!isOffline}"><span ng-if="!isOffline">YOU ARE OFFLINE! GET CONNECTED</span></div>
  <ion-nav-bar class="bar bar-positive bar-header item-input-inset">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content>
    <div class="card" ng-show="serverErrors">
      <div class="item item-text-wrap" ng-repeat="serverError in serverErrors">
        {{serverError}}
      </div>
    </div>

    <div class="list" ng-repeat="reviewer in reviewers">
      <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>{{reviewers.review}}Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>
    </div>
  </ion-content>
</ion-view>
