<ion-slide-box on-slide-changed="slideHasChanged($index)" class="positive-bg text-center">
  <ion-slide class="padding2x">
    <div class="splash-header logo"><img src="assets/img/splash_logo_small.png" /></div>
    <div class="splash-body">
        <h3>Welcome to <br />NP SL Stations</h3>
        <div class="splash-footer">
      	<a href on-tap="nextSlide()"><img src="assets/img/agreement_round.png" /></a>
        </div>
        <p>Your guide to finding NP Petrol Stations in SIerra Leone</p>
          <hr />
        <p>Use NP Station Finder to find the petrol stations near you</p>
        <hr />
        <p>When you are done, come back and share your experience by writing a review</p>
    </div>

  </ion-slide>
</ion-slide-box>

<ion-footer-bar align-title="left" class="bar-clear">
<button class="button button-calm login" on-tap="signinClick()">LOG IN</button>
  <button class="button button-calm signup" on-tap="signupClick()">SIGN UP</button>
</ion-footer-bar> ng-click="skipAuthorization()"
